.lesson-title {
  color: #000000;
  font-size: 5rem;
  text-align: left;
  padding: 0rem 10rem;
}

.lesson-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  padding: 2rem 10rem;
}

.card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.card-content {
  font-size: 1em;
}

@media (max-width: 768px) {
  .lesson-title {
    font-size: 3rem;
    padding: 0rem 1rem;
  }

  .lesson-grid {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .card-title {
    font-size: 1.2em;
  }

  .card-content {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .lesson-title {
    font-size: 2rem;
    padding: 0rem 0.5rem;
  }

  .lesson-grid {
    grid-template-columns: 1fr;
    padding: 1rem 0.5rem;
  }

  .card {
    padding: 1rem;
  }

  .card-title {
    font-size: 1em;
  }

  .card-content {
    font-size: 0.7em;
  }
}