.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 1.25rem 0;
}

.footer .logo {
    width: 6.25rem;
    height: auto;
}

.footer .social-media {
    display: flex;
    justify-content: center;
    padding: 0.625rem 0;
}

.footer .social-media a {
    color: white;
    margin: 0 0.9375rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer .social-media a:hover {
    color: #004543;
}

.footer .copyright {
    font-size: 0.875rem;
}

.footer {
    bottom: 0;
}