.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.2rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 10vh;
}

.header-button {
    padding: 0.6rem 1.2rem;
    border: none;
    background-color: #0F918D;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0.4rem;
}

.header-button:hover {
    background-color: #004543;
}

.buttons-container {
    display: flex;
    gap: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 5vh;
}